<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jimmy.finall" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".connectuse"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".list"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name=".inrealtime"
            android:label="@string/title_activity_inrealtime" >
        </activity>
        <activity
            android:name=".addquestion"
            android:label="@string/title_activity_addquestion" >
        </activity>
        <activity
            android:name=".addquestion1"
            android:label="@string/title_activity_addquestion1" >
        </activity>
        <activity
            android:name=".addtest"
            android:label="@string/title_activity_addtest" >
        </activity>
        <activity
            android:name=".addtest1"
            android:label="@string/title_activity_addtest1" >
        </activity>
        <activity
            android:name=".ininreal"
            android:label="@string/title_activity_ininreal" >
        </activity>
    </application>

</manifest>
